* {
	box-sizing: border-box;
}
:root {
	color-scheme: dark;
}
body {
	overflow: hidden;
	margin: 0;
	padding: 0px;
	color: #eee9e3;
	font-size: 17px;
	line-height: 1.8;
}
input {
	background: #3a3d54;
	outline: none;
	border: none;
	height: 22px;
	margin: 1px 0px;
	border-radius: 3px;
	max-width: 100%;
}
.root {
	position: absolute;
	overflow: auto;
	padding: 8px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.with-console .root {
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}
.logger {
	display: none;
	border-top: 3px solid #161824;
	position: absolute;
	white-space: pre;
	overflow: auto;
	padding: 8px;
}
.with-console .logger {
	display: block;
	top: 50%;
	left: 0;
	height: 50%;
	width: 100%;
	font-family: monospace;
}
